rasa==3.6.21
rasa-sdk ==3.6.2
requests==2.32.3
sentry-sdk==1.14.0
structlog==23.3.0
structlog-sentry==2.1.0
urllib3==1.26.20
cryptography==41.0.7

dotenv
python_dotenv
# Speech recognition dependencies
pyttsx3>=2.90
pyaudio>=0.2.13
SpeechRecognition>=3.10.0
fastapi>=0.96.0
uvicorn>=0.22.0
pydantic>=1.10.8
python-multipart>=0.0.6
